<a href="https://colab.research.google.com/github/parthdt/B.Tech-Codes/blob/master/Machine%20Learning/Assignment%202/CSL774_Assignment3_Parth_Thakker_2017UCS0047.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Imports

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('Amazon - Movies and TV Ratings.csv')
data.head()

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN

[5 rows x 207 columns]

In [ ]:
display(data.describe())

       Movie1  Movie2  Movie3  Movie4  ...  Movie203  Movie204   Movie205   Movie206
count     1.0     1.0     1.0     2.0  ...       1.0  8.000000  35.000000  13.000000
mean      5.0     5.0     2.0     5.0  ...       3.0  4.375000   4.628571   4.923077
std       NaN     NaN     NaN     0.0  ...       NaN  1.407886   0.910259   0.277350
min       5.0     5.0     2.0     5.0  ...       3.0  1.000000   1.000000   4.000000
25%       5.0     5.0     2.0     5.0  ...       3.0  4.750000   5.000000   5.000000
50%       5.0     5.0     2.0     5.0  ...       3.0  5.000000   5.000000   5.000000
75%       5.0     5.0     2.0     5.0  ...       3.0  5.000000   5.000000   5.000000
max       5.0     5.0     2.0     5.0  ...       3.0  5.000000   5.000000   5.000000

[8 rows x 206 columns]

### Task 1 - Which movies have maximum views/ratings?

In [ ]:
movie_notNAN = pd.DataFrame()
movie_notNAN['Number of Ratings'] = data.notnull().sum(axis=0).drop('user_id')
print("Movie with Maximum Views/Ratings:\n")
movie_notNAN[movie_notNAN['Number of Ratings'] == movie_notNAN['Number of Ratings'].max()]

Movie with Maximum Views/Ratings:

          Number of Ratings
Movie127               2313

### Task 2 - What is the average rating for each movie? Define the top 5 movies with the maximum ratings.

In [ ]:
movie_notNAN['Average Ratings'] = data.mean(axis=0)
# movie_notNAN[movie_notNAN['Average Ratings'] == movie_notNAN['Average Ratings'].max()].head(n=5)
# movie_notNAN[movie_notNAN['Number of Ratings'] == movie_notNAN['Number of Ratings'].max()].head(n=5)
movie_notNAN

          Number of Ratings  Average Ratings
Movie1                    1         5.000000
Movie2                    1         5.000000
Movie3                    1         2.000000
Movie4                    2         5.000000
Movie5                   29         4.103448
...                     ...              ...
Movie202                  6         4.333333
Movie203                  1         3.000000
Movie204                  8         4.375000
Movie205                 35         4.628571
Movie206                 13         4.923077

[206 rows x 2 columns]

In [ ]:
movie_notNAN.sort_values(by = 'Number of Ratings', ascending=False).head(n=5)

          Number of Ratings  Average Ratings
Movie127               2313         4.111976
Movie140                578         4.833910
Movie16                 320         4.518750
Movie103                272         4.562500
Movie29                 243         4.806584

### Task 3 - Define the top 5 movies with the least audience.

In [ ]:
movie_notNAN.sort_values(by = 'Number of Ratings').head(n=5)

          Number of Ratings  Average Ratings
Movie1                    1              5.0
Movie71                   1              4.0
Movie145                  1              5.0
Movie69                   1              1.0
Movie68                   1              5.0